

.section {
    background-color: cadetblue;
    // margin: 20px;

    display: flex;
    justify-content: center;

    
    

    &.cardSection {
        background-color: rgb(112, 138, 42);
    }
}