

.agency {
    display: flex;
    justify-content: center;

    &__box {




        &__about {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            

        }
    }
}


