 @import './../global.module.scss';


.loadLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.loadLogoImg {
    width: 150px;
    @include tablet {
        width: 300px;
    }
    @include desktop {
        width: 600px;
    }

}