 @import './../global.module.scss';


.loadLogoDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loadLogoImg {
    width: 150px;
    @include tablet {
        width: 200px;
    }
    @include desktop {
        width: 200px;
    }

}