@import './../../global.module.scss';


.btnClass {
    background-image:$gradientSilver ;
    width: 280px;
    margin: 40px 0 40px 0;

    padding: 10px;
    border-radius: 20px;

    color: white;
    font-family: $fontFirst;
    letter-spacing: 1px;
    // font-weight: 700;
}
