////===========///////////////==============////  
/// kolory ====== colors ====/////

$headerBackground: linear-gradient(135deg, #ffffff, #ffffff, #A1A1A1,  #A1A1A1, #444444);

// $headerBackground: rgb(143, 39, 39);
$footerBackground: rgb(75, 48, 48);

$colorWhite: rgb(148, 145, 145);

$cardOfficeBack: lightcoral;
$cardStudioBack: teal;


////====////============//////////=======/