// @import './../../../global.module.scss';
@import './../../../vars/colors/colors.module.scss';
@import './../../../vars/colors/gradients.module.scss';
@import './../../../vars/fonts/fonts.module.scss';
@import './../../../vars/mediaQuery/mediaQuery.module.scss';
@import './../../../vars/vars/vars.module.scss';


.skills {
    background-color: aqua;
    display: flex;
    justify-content: center;


    &__list {
        background-color: cadetblue;

        width: 100%;
        
        list-style: none;
        padding: 0;

        // display: flex;
        // justify-content: space-between;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // justify-content: space-between;
        justify-items: center;

        column-gap: 10px;
        row-gap: 20px;

        
        
        // gap: 20px;
        // flex-wrap: wrap;

        @include tablet {
            justify-content: space-between;
            // row-gap: 10px;
            grid-template-columns: repeat(4, 1fr); /* Dwie kolumny o równej szerokości */
            grid-template-rows: repeat(2, auto); /* Dwie rzędy o automatycznej wysokości */
           
        }
        @include desktop {
            // display: grid;
            // gap: 60px;
            row-gap: 0;
            
           
        }
        
        
    }



    &__listEl {


        position: relative;
        overflow: hidden;

        display: flex;
        // justify-items: center;
        justify-content: center;
        align-items: center;

        background-color: bisque;
        
        text-align: center;

        // margin-top: 30px;

        
        &:nth-child(1)  {
            background-image: $gradientPastel;
    
        }
        &:nth-child(2)  {
            background-image: $gradientTurkus;
    
        }
        &:nth-child(3)  {
            background-image: $gradientGold;
    
        }
        &:nth-child(4)  {
            background-image: $gradientMint;
    
        }
        &:nth-child(5)  {
            background-image: $gradientSilver;
    
        }
        &:nth-child(6)  {
            background-image: $gradientDark;
    
        }
        &:nth-child(7)  {
            background-image: $gradientAmber;
    
        }
        &:nth-child(8)  {
            background-image: $gradientJedeit;
    
        }

        width: 150px;
        height: 120px;


        

        @include tablet {
            // margin: 10px 0;
            width: 160px;
           
        }

        @include desktop {
      
            margin: 20px 0;
            width: 220px;
           
        }        
        

    }

    &__img {
        position: absolute;
        background-color: white;
         border-radius: 50%;

        width: 40px;
        top: -20px;


    }

    &__listDiv {
        // border: 2px solid black;
        margin: 12px 5px 10px 5px;

        color: white;
        // width: 50px;
        hyphens: auto;
        // overflow-wrap: break-word;




    }

    &__listDivTitle {
        font-size: 14px;
        


    }
    

   
}

//////////////////


.overlay {

    position: absolute;
    background-color: $footerBackground;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    transform: translateX(-100%);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // overflow: scroll;

    &__p {
        // display: none;
        font-size: 12px;
        padding: 20px;

        color: white;
        font-family: $fontThrd;
        font-size: 12px;


        @include tablet {
            // display: block;
        }
    }



}

.skills__listEl:hover .overlay {
    transform: translateX(0);
    // background-color: rgba(33, 150, 243, 0.9);
    /* background-color: blueviolet; */
}    