@import '../../../global.module.scss';


.aboutDiv {
    display: flex;
    justify-content: center;

    margin-top: 20px;


    &__contener {

    font-family: $fontThrd;
    color: white;


    width: 100%;
    border-radius: 8px;

    text-align: center;
    padding: 2px 5px;

    box-shadow: 0 0 5px gray;

    background-image: $gradientOrange;
 
    

    }

    &__h3 {
        letter-spacing: 1px;
        font-size: 24px;
    }
    &__p {
        font-size: 18px;

    }


}