@import './../../../global.module.scss';


.skills {


    &__list {
        list-style: none;
        padding: 0;

        display: flex;
        justify-content: center;
        
        gap: 20px;
        flex-wrap: wrap;

        @include tablet {
            justify-content: space-between;
            gap: 10px;
        }
        @include desktop {
           
        }
        
        
    }



    &__listEl {

        position: relative;

        display: flex;
        justify-content: center;

        background-color: bisque;
        
        text-align: center;

        margin-top: 30px;

        width: 160px;

        &:nth-child(1)  {
            background-image: $gradientPastel;
    
        }
        &:nth-child(2)  {
            background-image: $gradientTurkus;
    
        }
        &:nth-child(3)  {
            background-image: $gradientGold;
    
        }
        &:nth-child(4)  {
            background-image: $gradientMint;
    
        }
        &:nth-child(5)  {
            background-image: $gradientSilver;
    
        }
        &:nth-child(6)  {
            background-image: $gradientDark;
    
        }
        &:nth-child(7)  {
            background-image: $gradientAmber;
    
        }
        &:nth-child(8)  {
            background-image: $gradientJedeit;
    
        }

        

        

        @include tablet {
            // margin: 10px 0;
           
        }

        @include desktop {
            margin: 20px 0;
           
        }        
        

    }

    &__img {
        position: absolute;
        background-color: white;
         border-radius: 50%;

        width: 40px;
        top: -20px;
    }

    &__listDiv {
        // border: 2px solid black;
        margin: 12px 5px 10px 5px;

        color: white;



    }

    &__listDivTitle {
        font-size: 14px;


    }

    &__listDivAbout {
        font-size: 12px;

    }
}
