@import '../global.module.scss';


.container {
    background-color: rgba(255, 165, 0, 0.5 );
    margin: 20px;

        width: $mobileMax;

    @include tablet {
        width: $tablet;

    }
    @include desktop {
        width: $desktop;

    }
}