@import '../../../global.module.scss';


.aboutDiv {
    display: flex;
    justify-content: center;

    margin-top: 20px;


    &__contener {
    font-family: $fontThrd;
    // background-color: green;
    // margin: 20px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    padding: 2px 5px;
    box-shadow: 0 0 5px green;
    
    

    }

    &__h3 {
        letter-spacing: 1px;
    }
    &__p {
        // font-family: $fontThrd;
    }

    &__p3 {
        // font-family: $fontThrd;
        // padding-bottom: 10px;
    }
}