////====////============//////////=======/

$czcionkaTest: 'Times New Roman', Times, serif;

///=== czcionki pobrane ===/// 

$fontFirst: 'Raleway', sans-serif;
$fontSnd: 'Roboto', sans-serif;
$fontThrd: 'Ysabeau Office', sans-serif;

///====////=====//// 