
.skills {


    &__list {
        list-style: none;
        padding: 0;

        display: flex;
        justify-content: space-between;
        
        gap: 20px;
        flex-wrap: wrap;
    }


    &__listEl {
        background-color: bisque;
        
        text-align: center;

        width: 220px;
    }

    &__img {
        width: 40px;
    }

    &__listDiv {
        border: 2px solid black;
    }
}