@import './../../../vars/colors/colors.module.scss';
@import './../../../vars/colors/gradients.module.scss';
@import './../../../vars/fonts/fonts.module.scss';
@import './../../../vars/mediaQuery/mediaQuery.module.scss';
@import './../../../vars/vars/vars.module.scss';


.instructors {
    // background-color: antiquewhite;
    width: 260px;

    // display: flex;


    &__div {
        // background-color: beige;
        display: flex;
        align-items: center;
        
    }
    &__img {
    cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        background-image: $gradientMint;
    }
    &__name {
    cursor: pointer;
        width: 180px;
        height: 25px;
        border-radius: 40px;
        margin: 0 auto;

        background-image: $gradientGold;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &__textDiv {

        margin-top: 10px;


        // background-color: blanchedalmond;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-end;
        // justify-content: flex-end;
        text-align: center;
        

        
        
    }
    &__status {
    cursor: pointer;
        background-image: $gradientJedeit;

        // display: flex;
        // justify-content: center;
        // align-items: center;

        // margin: 0 auto;

        border-radius: 40px;
        // width: 240px;
        padding: 2px 0;
        margin: 0;


    }
    // &__btn {
    //     background-image: $gradientPastel;

    //     border: none;
    //     border-radius: 40px;

    //     width: 80px;

    //     // padding-top: 0 ;

    // }
}