

//  import globals   ///

.squadCard {

    // width: 250px;
    position: relative;



    &__div {
        background-color: green;
        text-align: center;
        width: 250px;
    }

    &__img {
        background-color: black;
        width: 140px;
        height: 140px;
    }


    &__btn {
        margin-bottom: 20px;
    }

    &__note {
        position: absolute;
        z-index: 999;
        background-color: cornsilk;
        margin-top: 5px;
        width: 250px;
        max-height: 370px;
        overflow: auto;
    }


}

