@import '../../../global.module.scss';

.squadCard {

    // width: 250px;
    // position: relative;



    &__div {
        background-color: green;
        text-align: center;
        width: 320px;

        font-family: $fontThrd;
    }

    &__img {
        background-color: black;
        width: 210px;
        height: 250px;
    }


    &__btn {
        margin-bottom: 20px;
    }

    &__note {
        position: absolute;
        z-index: 999;
        background-color: cornsilk;
        margin-top: 5px;
        width: 320px;
        max-height: 520px;
        overflow: auto;

        line-height: 1.3;
        // text-align: justify;
    }

    &__noteText {
        font-family: $fontThrd;
        margin: 10px 20px;
        text-align: justify;
    }


}

