@import '../../vars/colors/colors.module.scss';
@import '../../vars/colors/gradients.module.scss';
@import '../../vars/fonts/fonts.module.scss';
@import '../../vars/mediaQuery/mediaQuery.module.scss';
@import '../../vars/vars/vars.module.scss';




.contactDiv {

    // &:nth-child(1) {
    //     background-color:$cardOfficeBack;
    // }
    // &:nth-child(2) {
    //     background-color: $cardStudioBack;
    // }
    



    &:nth-child(1) &__btnDivEl{
        background-color: darkred;
    }
    &:nth-child(2) &__btnDivEl {
        background-color: mediumpurple;
    }



    // color: white;
    // background-color: hotpink;
    // background-color: rgba(252, 140, 200, 0.2);
    width: 320px;
    // height: 320px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(124, 73, 100);
    

    font-size: 16px;
    font-family: $fontThrd;
    @include tablet {
        width: 320px;
    }


    &__divH3 {
        padding-top: 5px;
        padding-left: $cardContactPaddingLeft;
        // display: inline;
        // padding: 5px;
        
        // background-color: rgb(145, 99, 67);
        
    }


    &__h3 {
        // display: inline;
        // margin: 20px;
        // background-color: rgb(105, 160, 141);
        background-color: rgba(103, 160, 141, 0.2);
        text-align: center;
        width:max-content;
        border-radius: 4px;
        padding:2px 8px;
        letter-spacing: 1.5px;
        // color: $colorWhite;
        // color: white;
        font-size: 20px;
    }

    &__divName {
        border-bottom: $borderBottomOne;
        padding-left: $cardContactPaddingLeft;


    }

    &__h4 {
        letter-spacing: 1px;
    }

    &__paragraf {
        font-family: $fontThrd;
    }
    &__link {
        text-decoration: none;
        font-family: $fontFirst;
        // color:rgb(240, 223, 177);
        color: $footerBackground;
    }

    &__divTime{
        padding: $contactPaddingContentDiv;
        border-bottom: $borderBottomOne;
        line-height: 0.7;

    }


    &__divContact{
        border-bottom: $borderBottomOne;
        padding: $contactPaddingContentDiv;

    }


    &__btnDiv{
        text-align: center;
        

    }

    &__btnDivEl {
        margin: 20px 0 20px 0;
        font-family: $fontThrd;
        font-size: 12px;
        letter-spacing: 0.5px;

        width: 260px;
        height: 40px;

        border-radius: 20px;
        border: none;

        // color: white;
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: 700;
        opacity: 0.2;


    }
}




.btnFormClose {
    margin-bottom: 20px;
    width: 60%;

}
