@import '../../../global.module.scss';


.contactCard {

    margin: 60px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}



///  box-shadow: [położenie] [przesunięcie poziome] [przesunięcie pionowe] [rozmazanie] [kolor];
 

.contactDiv {
    // background-color: hotpink;
    background-color: rgba(252, 140, 200, 0.2);
    width: 320px;
    // height: 320px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(124, 73, 100);
    

    font-size: 16px;
    font-family: $fontSnd;
    @include tablet {
        width: 320px;
    }


    &__divH3 {
        padding-top: 5px;
        padding-left: $cardContactPaddingLeft;
        // display: inline;
        // padding: 5px;
        
        // background-color: rgb(145, 99, 67);
        
    }


    &__h3 {
        // display: inline;
        // margin: 20px;
        // background-color: rgb(105, 160, 141);
        background-color: rgba(103, 160, 141, 0.5);
        text-align: center;
        width:max-content;
        border-radius: 4px;
        padding:2px;
        letter-spacing: 1.5px;
        // color: $colorWhite;
        color: white;
        font-size: 20px;
    }

    &__divName {
        border-bottom: $borderBottomOne;
        padding-left: $cardContactPaddingLeft;

    }

    &__h4 {
        letter-spacing: 1px;
    }

    &__paragraf {
        font-family: $fontThrd;
    }
    &__link {
        text-decoration: none;
        font-family: $fontFirst;
        color:brown;
    }

    &__divTime{
        border-bottom: $borderBottomOne;
        padding-left: $cardContactPaddingLeft;

    }


    &__divContact{
        border-bottom: $borderBottomOne;
        padding-left: $cardContactPaddingLeft;

    }
}

.btnForm {
    margin: 20px 0 20px 0;
    font-family: $fontFirst;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-left: $cardContactPaddingLeft;

    
}


.btnFormClose {
    margin-bottom: 20px;
    width: 60%;

}
