@import '../../../global.module.scss';


.contactCard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}



///  box-shadow: [położenie] [przesunięcie poziome] [przesunięcie pionowe] [rozmazanie] [kolor];
 

.contactDiv {
    background-color: hotpink;
    width: 320px;
    // height: 320px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(31, 29, 29);

    font-size: 14px;
    font-family: $fontSnd;
    @include tablet {
        width: 320px;
    }


    &__divH3 {
        // display: inline;
        // padding: 5px;
        
        background-color: rgb(145, 99, 67);
        
    }

    &__h3 {
        // display: inline;
        // margin: 20px;
        background-color: aquamarine;
        text-align: center;
        width:max-content;
        border-radius: 4px;
        padding:2px;
        letter-spacing: 1.5px;
        color: $colorWhite;
        font-size: 18px;
    }

    &__divName {
        border-bottom: $borderBottomOne;
    }

    &__h4 {
        letter-spacing: 1px;
    }

    &__paragraf {
        font-family: $fontThrd;
    }
    &__link {
        text-decoration: none;
        font-family: $fontFirst;
        color:brown;
    }

    &__divTime{
        border-bottom: $borderBottomOne;
    }


    &__divContact{
        border-bottom: $borderBottomOne;
    }
}

.btnForm {
    margin: 20px 0 20px 0;
    font-family: $fontFirst;
    font-size: 12px;
    letter-spacing: 0.5px;
    
}

