@import '../../../global.module.scss';

.cardElementDiv {

    margin-top: 100px;


    background-color: aqua;
    // border: 3px solid burlywood;
    width: 320px;
    // height: 280px;
    border-radius: 4px;

    font-family: $fontThrd;
    text-align: center;

    padding-top: 40px;



    &__content {
            position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    }

    &__divH3 {
        background-color: red;
        width: 80%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: -80px;

        border-radius: 40%;
        // border-radius: 40px;
    }

    &__h3 {
        // background-color: coral;
    }
    &__h4::after {
        content:".  .  .";
        display: flex;
        justify-content: center;
        bottom: 50px;

    }


    &__parLi3::after {
        content:".  .  .";
        display: flex;
        justify-content: center;
        bottom: 50px;

    }

    &__btn {
        margin-bottom: 20px;
    }
}

// .cardElementDiv::after {
//     content: '';
//     position: absolute;
//     background-color: red;
//     width: 80%;
//     height: 120px;

// }