@import '../../../global.module.scss';




.cardElementDiv {

    &:nth-child(1) {
        background-color:$cardOfficeBack;
    }
    &:nth-child(2) {
        background-color:$cardStudioBack;
    }

    &:nth-child(1) &__divH3 {
        background-color: chocolate;
    }
    &:nth-child(2) &__divH3 {
        background-color: khaki;
    }
    

    margin-top: 100px;


    // background-color: aqua;
    // border: 3px solid burlywood;
    width: 320px;
    // height: 480px;
    border-radius: 20px;

    font-family: $fontThrd;
    text-align: center;
    // color: white;

    padding-top: 40px;



    &__content {
            position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    margin-bottom: 20px;
    color: white;

    }

    &__divH3 {
        background-color: red;
        width: 90%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: -80px;

        border-radius: 40%;
        // border-radius: 40px;


        
    }
    // &__divH3:nth-child(2) {
    //     background-color: chocolate;
    // }
    // &__divH3:nth-child(1) {
    //     background-color:khaki;
    // }

    &__h3 {
        // background-color: coral;
        font-size: 26px;
        letter-spacing: 1px;
    }

    &__h4 {
        margin-top: 40px;
        position: relative;

        font-weight: 700;
        font-size: 24px;
    }
    &__h4::after {
        position: absolute;
        content:".  .  .";
        width: 100%;
        display: flex;
        justify-content: center;
        

        // bottom: 50px;

        // margin-top: 20px;

    }

    &__h5 {
        font-size: 18px;
        max-width: 90%;
    }

    &__parLi3 {
        position: relative;
        margin-bottom: 60px;

        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    &__parLi3::after {
        position: absolute;
        content:".  .  .";
        width: 100%;
        display: flex;
        justify-content: center;
        // padding-top: 100px;
        bottom: -30px;


        // padding-bottom: 20px;


        // bottom: 50px;

    }

    &__btn {
        position: relative;
        margin-bottom: 20px;

        background-color: darksalmon;
        border-radius: 20px;
        width: 100px;
        height: 30px;
        border: none;

        cursor: pointer;

        color: white;
        font-weight: 700;
        letter-spacing: 0.1px;


        text-align: left;
        padding-left: 10px;
        margin-right: 20px;
    }

    &__btn::after {
        position: absolute;
        content: "";
        background-image: url(./../../../../../public/logo192.png);
        background-size: 30px;
        // background-color: aquamarine;
        width: 30px;
        height: 30px;
        top: 0;
        right: 2px;
    }

    &__btnLink {
        position: relative;

        background-color: cadetblue;
        border-radius: 20px;
        width: 140px;
        height: 30px;
        border: none;

        text-align: left;
        padding-left: 10px;

        text-decoration: none;



    }
    &__link {
        text-decoration: none;
        color: white;
        font-weight: 700;
        letter-spacing: 0.1px;
    }

    &__btnLink::after {
        position: absolute;
        content: "";
        background-image: url(./../../../../../public/logo192.png);
        background-size: 30px;
        // background-color: aquamarine;
        width: 30px;
        height: 30px;
        top: 0;
        right: 2px;
    }




}

// .cardElementDiv::after {
//     content: '';
//     position: absolute;
//     background-color: red;
//     width: 80%;
//     height: 120px;

// }