@import '../global.module.scss';

.sectionHead {
    // border-bottom: 1px solid $footerBackground;

    @include desktop {
        border: none;
    }
}

.head__div {
    // height: 100px;
    width: 100%;


    background-image: $headerBackground;

    border-radius: 40px;



    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
        height: 350px;
        border-radius: 20px;
    }

}
