
$tablet: 768px;
$desktop: 1280px;

@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}




$headerBackground: rgb(143, 39, 39);
$footerBackground: rgb(75, 48, 48);

