@import './../../global.module.scss';



@media screen and (max-width: 767px) {
    .buttonsMenu {
        display: none;
    }
}

.buttonsMenu {
    font-family: $fontThrd;
    font-size: 18px;




    @include desktop {
        // background-color: aqua;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }

    // &__btn {
    //     margin: 20px;
    //     border: none;
    //     border-radius: 40px;
        
    // }
}


// @media screen and (min-width: 768px) and (max-width: 1279px) {
//     .head__divBtn {
//         background-color: darkkhaki;
//     }
// }

// @media screen and (min-width: 1280px) {
//     .head__divBtn {
//         display: none;
//     }
// }

