
@import './../../global.module.scss';




    .head__divBtnMenu {
        // position: relative;
        display: flex;
        @include tablet {
            display: none;
        }
    }







    .menuLogo {
        background-color: black;
        height: 20px;
    }









    
    .head__imgBtnMenu {
        width: 25px;
       
    }

    .head__menuList {
        
        background-color: red;

    

        // width: 80%;
        // position: absolute;

        list-style: none;
        text-decoration: none;
        text-align: right;
        padding-right: 40px;

    }
    .head__menuList * {
        color: greenyellow;
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 50px
    }

    // .head__menuList:nth-child(n) {
    //     color: bisque;
    // }


    .head__menuListLink {
        text-decoration: none;
    }

    .head__menuBtn {
        margin-bottom: 30px;
    }









@media (min-width: 768px) {
    .head__divBtnMenu {
        display: none;
    }
    
}




//================//////////====================/////////////////=====//

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
    // align-items: center;
    // justify-content: center;


  }


  
  .modalContent {
    background-color: aqua;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;



  }



  

  
  .modalContent button {
    margin-top: 10px;
  }