@import './../../../global.module.scss';


.equipment {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    @include tablet {
        justify-content: space-around;
    }

    

    &__div {
    position: relative;


        &:nth-child(1) {
            background-image: $gradientTurkus;
        }
        &:nth-child(2) {
            background-image: $gradientTurkus;
        }
        &:nth-child(3) {
            background-image: $gradientTurkus;
        }
        &:nth-child(4) {
            background-image: $gradientGold;
        }
        &:nth-child(5) {
            background-image: $gradientGold;
        }
        &:nth-child(6) {
            background-image: $gradientGold;
        }
        &:nth-child(7) {
            background-image: $gradientJedeit;
        }
        &:nth-child(8) {
            background-image: $gradientJedeit
        }


    // margin: 20px;



        background-image:$gradientGold ;
        width: 240px;
        height: 40px;
        // margin: 40px 0 40px 0;

        // padding: 0.5px;
        border-radius: 20px;

        color: white;
        // font-family: $fontFirst;
        // letter-spacing: 1px;
        // font-weight: 700;

        display: flex;
        justify-content: flex-end;

    }


    

    &__img {
        position: absolute;


        width: 50px;
        height: 50px;
        background-image: $gradientPastel;

        border-radius: 50%;

        top: -20px;
        left: -20px;
    }

    &__par {
        margin-right: 15px;
    }







}