@import '../../global.module.scss';

.logoDiv {
    // width: 30px;
    // height: 30px;
    background-color: rgb(132, 0, 255);
    display: flex;
    align-items: center;
    
}

.logoImg {
    width: 50px;
    height: 50;

    @include tablet {
        width: 70px;
        height: 70px;

    }
    @include desktop {
        width: 80px;
        height: 80px;

    }
}

.logoH1 {
    margin-left: 10px;

    font-family: $fontThrd;
    font-size: 18px;
    letter-spacing: 0.5px;


    @include tablet {
        margin-left: 80px;
        font-size: 22px;
    }
    @include desktop {
        margin-left: 100px;
        font-size: 28px;
    }
}